<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite de Testes" verbose="1" thread-count="5">
    <test name="Desafios">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="CarrinhoTestCase"/>
        </classes>
    </test>
</suite>
